#home .home-hero {
    height: 400px;
    background: #d1d0d0 url(../images/home-img/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-blend-mode: multiply;
    background-position-y: center;
    background-position-x: center;
    color: rgb(254, 254, 254);
}

#home .home-hero h1 {
    font-family: 'Lato';
    font-weight: 300;
    text-shadow: 0px 0px 5px rgb(131, 131, 131);
}

#home .home-hero p {
    font-family: 'Open Sans';
}

@media (max-width: 992px) {
    #home .home-hero {
        height: 300px;
    }
}

#home .service1 .service-img {
    width: 35%;
}

#home .service1 h2 {
    font-family: 'Lato';
    font-weight: 300;
    color: #000;
}

#home .service1 p {
    font-family: 'Lato';
    font-weight: 300;
    color: #666666;
}

#home .service1 .main-service-img {
    width: 50%;
    object-fit: cover;
}

#home .service1 .service1-details {
    width: 45%;
}

@media (max-width: 992px) {
    #home .service1 .main-service-img,
    #home .service1 .service1-details {
        width: 100%;
    }
}

#home .service2 {
    animation: bounce-top 0.9s both;
}

#home .service2 .service {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .service2 .service .grey-circle {
    border-radius: 50%;
    margin: 0 auto;
    padding: 1.5em 1.2em;
    transition: 1s;
    background-color: rgb(99, 99, 99);
}

#home .service2 .service .grey-circle p {
    font-family: 'Lato';
    color: rgb(254, 254, 254);
    border: none;
    font-weight: 300;
    line-height: 0;
    margin: 0;
    padding: 0;
}

#home .service2 h5 {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #000;
}

#home .service2 .service p {
    border-top: 1px solid rgb(201, 201, 201);
    font-family: 'Open Sans';
    color: rgb(150, 150, 150);
    line-height: 1.4;
    font-size: 13px;
    font-family: Arial;
}

#home .service2 .service:hover > .grey-circle {
    background-color: rgb(232, 27, 27);
}

@media (max-width: 768px) {
    #home .service2 .service {
        width: 100%;
    }
}

#home .home-clients h4 {
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-family: 'Open Sans';
}

#home .home-clients img {
    width: 12%;
}

#home .home-clients img:hover {
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

#home .dark-bg {
    background-color: rgba(48, 48, 48, 0.8);
}
#home .dark-bg .fire-card {
    text-align: center;
    width: 31%;
    background-color: rgb(254, 254, 254);
}

#home .dark-bg img {
    border: 2px solid rgb(254, 254, 254);
    box-shadow: rgb(0 0 0 / 26%) 0px 0px 5px 0px;
    width: 100%;
}

#home .dark-bg h4 {
    font-family: Lato;
    font-weight: 300;
    color: #000;
}

#home .dark-bg p {
    color: rgb(153, 153, 153);
    line-height: 1.2;
    font-family: 'Open Sans';
}

@media (max-width: 992px) {
    #home .dark-bg .fire-card {
        width: 29%;
    }
}

@media (max-width: 568px) {
    #home .dark-bg .fire-card {
        width: 70%;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
