#operations .op-hero {
    height: 400px;
    background: #e2e2e2 url(../images/operation-img/hero.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-blend-mode: multiply;
    background-position-y: center;
    background-position-x: center;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

#operations .op-hero h1 {
    font-family: 'Lato';
    font-weight: 300;
    text-shadow: 0px 0px 5px #000;
}

#operations .recent-operations {
    color: #212529;
}

#operations .recent-operations img {
    width: 380px;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

#operations .recent-operations .card-title {
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 29px;
    color: #fefefe;
    background-color: rgb(153, 153, 153);
    border-radius: 4px;
    width: fit-content;
}

#operations .recent-operations .card-text {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #666;
}

#operations .recent-operations h3,
#operations .recent-operations p {
    font-family: 'Lato';
    font-weight: 300;
}

#operations .recent-operations p {
    font-size: 1rem;
}

#operations .operation {
    width: 65%;
}

#operations .operation h2 {
    font-family: 'Lato';
    font-weight: 700;
    color: #b3b2b2;
}

#operations aside {
    width: 30%;
    background-color: rgb(201, 201, 201);
    color: #fefefe;
}

#operations .operation .op {
    width: 45%;
    text-align: center;
}

#operations .operation .op img {
    width: 100%;
    height: 209px;
    object-fit: cover;
}

#operations .operation .op h3 {
    color: rgb(102, 102, 102);
    font-family: 'Open Sans';
    font-weight: 500;
}

#operations .operation .op .category {
    color: #fefefe;
    font-family: 'Open Sans';
    background-color: rgb(153, 153, 153);
    border-radius: 4px;
    width: fit-content;
}

#operations .operation .op p {
    color: rgb(102, 102, 102);
    font-family: 'Open Sans';
}

#operations aside img {
    width: 100%;
    height: 295px;
    object-fit: cover;
}

#operations aside p {
    font-family: 'Open Sans';
}

@media (max-width: 992px) {
    #operations .operation,
    #operations aside {
        width: 100%;
    }

    #operations .recent-operations img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #operations .operation .op {
        width: 100%;
    }
}
