#products .pro-hero {
    height: 400px;
    background-image: url(../images/product-img/product-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: rgb(254, 254, 254);
}

#products .pro-hero .pro-div {
    height: 90%;
}

#products .pro-hero h1 {
    font-family: Lato;
    font-weight: 500;
}

#products .pro-hero p {
    font-family: 'Open Sans';
    font-weight: 500;
}

#products .pro-hero .bottom {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
}

@media (max-width: 568px) {
    #products .pro-hero .pro-div {
        height: 75%;
    }
}

@media (max-width: 400px) {
    #products .pro-hero .pro-div {
        height: 70%;
    }
}

@media (max-width: 400px) {
    #products .pro-hero .pro-div {
        height: 65%;
    }
}

#products .pro-list img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#products .pro-list h3 {
    font-family: Lato;
    font-weight: 300;
    padding: 0.5em 0;
    margin: 0;
}

#products .pro-list p {
    font-family: Lato;
    font-weight: 300;
}

@media (max-width: 568px) {
    #products .pro-list img {
        width: 120px;
        height: 120px;
    }

    #products .pro-list p {
        padding: 0 1em;
    }
}

#products .pro-banner {
    height: 250px;
    background-image: url(../images/product-img/product-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: rgb(254, 254, 254);
    background-color: rgba(0, 0, 0, 0.534);
    background-blend-mode: lighten;
}
