#header {
    position: relative;
}
#header h1 {
    font-weight: 600;
    color: #969696;
    font-family: 'Open Sans', sans-serif;
}

#header .header-logo {
    margin-left: 10em;
    width: 30%;
    object-fit: cover;
}

#header hr {
    color: rgb(201, 201, 201);
}

#header .navbar {
    background: #fff;
    font-size: 0.95rem;
}

#header-nav a {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1.6rem;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    transition: background-color 1s ease-in-out, border 1s ease-in-out;

    font-family: 'Open Sans', sans-serif;
}

#header .nav-item {
    padding: 0.4rem 0;
}

#header-nav a.active {
    border-bottom: 5px solid red;
}

#header a:hover {
    background: #c7c2c2;
    color: #fff;
}
#header .navbar button {
    border: none;
}

#offcanvas {
    background-color: rgba(255, 255, 255, 0.897);
    border: none;
}

@media (max-width: 992px) {
    #header .header-logo {
        margin-left: 0em;
    }

    #header .navbar-logo {
        margin: 0 auto;
    }

    #header-nav .nav-item {
        padding: 0.8em 0;
    }

    #header-nav a.active {
        border: none;
        color: red;
    }

    #header .nav-item:hover:after {
        background: none;
        width: 0%;
    }
}

@media (max-width: 576px) {
    #header h1 {
        font-size: 0.7rem;
    }

    #header .navbar-logo img {
        width: 75%;
        object-fit: cover;
    }
}
