#header {
    position: relative;
}
#header h1 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

#header .navbar-logo {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.075);
    z-index: 1000;
    position: relative;
}

#header .navbar {
    background: #fff;
    font-size: 1.15vw;
    opacity: 0.87;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
    height: 80px;
}

#header-nav a {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

#header .nav-item {
    padding: 0.4rem 0;
}

#header-nav a.active {
    border-bottom: 1px solid red;
}

#header .nav-item:hover:after {
    background: red;
    width: 100%;
}
#header .nav-item:after {
    background: 0 0;
    content: '';
    display: block;
    height: 1px;
    transition: width 0.7s ease, background-color 0.5s ease;
    width: 0;
}

#header .navbar button {
    border: none;
}

#offcanvas {
    background-color: rgba(255, 255, 255, 0.897);
    border: none;
}

@media (max-width: 992px) {
    #header .navbar-logo {
        box-shadow: none;
        margin: 0 auto;
    }

    #header-nav .nav-item {
        padding: 0.8em 0;
    }

    #header-nav a.active {
        border: none;
        color: red;
    }

    #header .nav-item:hover:after {
        background: none;
        width: 0%;
    }
}

@media (max-width: 576px) {
    #header h1 {
        font-size: 0.7rem;
    }

    #header .navbar-logo img {
        width: 80%;
    }
}
